@use '../config' as c;
.plans {
    &--wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-bottom: 0.75rem;
        @include c.desktop {
            flex-direction: row;
            gap: 2rem;
            margin-bottom: 1rem;
        }
    }

    &--modes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding-block: 1rem;
        border-radius: 10px;
    }

    &--toggle {
        width: 3rem;
        height: 1.25rem;
        padding: 0.2rem;
        border-radius: 15px;

        div {
            height: 100%;
            width: 33%;
            border-radius: 50%;
        }

        &.yearly {
            div {
                transform: translateX(200%);
            }
        }
    }
}

.plan {
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    cursor: pointer;

    @include c.desktop {
        flex-direction: column;
        width: 100%;
    }

    &--overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 5px;

        &:hover {
            border: 2px solid map-get($map: c.$colors, $key: PurplishBlue);
        }
    }
    &.highlighted .plan--overlay:hover{
        border: none;
    }
}